* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  
  .conainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .carousel-container {
    position: relative;
    width: 240px;
    height: 150px;
  }
  
  .carousel-slide-container {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-img {
    width: 240px;
    height: 150px;
    transition: transform 0.3s ease-in;
  }
  
  .btn-right,
  .btn-left {
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }
  
  .btn-right img,
  .btn-left img {
    border-radius: 50%;
    background-color: aliceblue;
  }
  
  .btn-right {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
  }
  
  .btn-left {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel-dot {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: rgb(88, 86, 86);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: rgb(238, 141, 14);
  }
  